@font-face {
    font-family: "TT Fellows";
    src: url('~@/shared/styles/fonts/TTFellows-Regular.ttf') format("true-type");
    font-weight: 400;
}
  
@font-face {
    font-family: "TT Fellows";
    src: url('~@/shared/styles/fonts/TTFellows-Bold.ttf') format("true-type");
    font-weight: 700;
}

@font-face {
    font-family: "TT Fellows";
    src: url('~@/shared/styles/fonts/TTFellows-DemiBold.ttf') format("true-type");
    font-weight: 600;
}